* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

body {
  background: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #7b2ff7;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}

.navbar nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

.explore-btn {
  background: white;
  color: #7b2ff7;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  font-weight: 600;
   cursor: pointer; 
}

.hero {
  height: 460px;
  background-color: #7b2ff7;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 46px;
  margin-bottom: 10px;
}

.tagline {
  font-size: 18px;
  margin-bottom: 30px;
  opacity: 0.95;
}

.search-box {
  background: white;
  padding: 10px;
  border-radius: 40px;
  display: inline-flex;
  gap: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.search-box input {
  border: none;
  padding: 12px;
  outline: none;
}

.search-box button {
  background-color: #7b2ff7;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: -35px;
  flex-wrap: wrap;
}

.cat {
  background: white;
  padding: 14px 24px;
  border-radius: 30px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  font-weight: 500;
}


